
params {

    modules {
        annotation = true
        phageFinder = false
    }

    inputContigs = "test_data/contigs.fa" //temporary input specification. Will change when connecting workflows end-to-end
    annotation {
        taxKingdom = null
        annotateProgram = "prokka" //default
        customProtein = "nf_assets/NO_FILE" //setup for optional file pattern
        customHMM = "nf_assets/NO_FILE2"
        sourceGBK = null
        evalue = null
        gcode = null
        keggView = false
    }

    shared {
        outDir = "./testing_output"
        projName = "PROJECT"
        cpus = 8
    }
}

singularity {
    enabled = true
    runOptions = "--compat"
}

workflow.onComplete = {
    "rm -rf nf_assets".execute().text
}

workflow.onError = {
    "rm -rf nf_assets".execute().text
}
