/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

cleanup = false //necessary to compare snapshotted files

//override process options for CI runners with limited CPU 
process {

    //resource requirements for processes
    withLabel: 'small' {
        cpus = 4
        memory = '8 GB'
    }
    withLabel: 'medium' {
        cpus = 4
        memory= '12 GB'
    }
    withLabel: 'large' {
        cpus = 4
        memory = '12 GB'
    }
    withLabel: 'largest' {
        cpus = 4
        memory = '12 GB'
    }

    //which containers to use for which processes
    withLabel: 'sra2fastq' {
        container = 'kaijli/sra2fastq:1.6.3'
    }
    withLabel: 'countFastq' {
        container = 'apwat/count_fastq:0.2'
    }
    withLabel: 'qc'{
        container= 'apwat/run_faqcs:1.5'
    }
    withLabel: 'hostRemoval' {
        container= 'apwat/host_removal:1.7.4'
    }
    withLabel: 'assembly' {
        container = 'apwat/run_assembly:1.5'
    }
    withLabel: 'r2c' {
        container = 'apwat/run_r2c:1.6'
    }

}