process.container = 'apwat/host_removal:1.0.4'
docker.enabled = true
params {
    //overwriteable parameters
    inputFiles = null
    fastqSource = "Illumina"
    host = "NO_FILE" //setup for NF optional input file pattern
    outDir = null
    prefix = "host_clean" //perl host_removal script default
    fasta = null
    similarity = 90
    bwaMemOptions = null
    h = null
    minLen = 50
    cpus = 8
}
workflow.onComplete = {
    "rm -rf nf_assets".execute().text
}
