executor.name = "slurm"
executor.job_name = {"$task.name"}
executor.queueSize=5
process {
    scratch = true
    //options to provide for all processes submitted as cluster jobs (e.g. "--account xx")
    clusterOptions = ""
    //update error strategy?
    //resource requirements for processes
    //TODO: set up memory/cpu baselines
    withLabel: "tiny" {
        cpus = {2 * task.attempt}
        memory = {4.GB * task.attempt}
    }
    withLabel: "small" {
        cpus = {4* task.attempt}
        memory = {8.GB * task.attempt}
    }
    withLabel: "medium" {
        cpus = {8 * task.attempt}
        memory = {16.GB * task.attempt}
        maxRetries = 2
    }
    withLabel: "large" {
        cpus = {8 * task.attempt}
        memory = {32.GB * task.attempt}
        maxRetries = 2
    }
    time = {2.hours * task.attempt}
    //if not labeled, uses the below settings
    cpus = 8
    memory = '16GB'

    errorStrategy='retry'
    maxRetries=3
}