executor.name = "slurm"
executor.job_name = {"job_name_$task.name"}

process {
    //options to provide for all processes submitted as cluster jobs (e.g. "--account xx")
    clusterOptions = ""
    //update error strategy?
    //resource requirements for processes
    //TODO: set up memory/cpu baselines
    withLabel: "tiny" {
        cpus = 2
        memory = '4GB'
    }
    withLabel: "small" {
        cpus = 4
        memory = '8GB'
    }
    withLabel: "medium" {
        cpus = 8
        memory = '16GB'
    }
    withLabel: "large" {
        cpus = 8
        memory = '32GB'
    }
    //if not labeled, uses the below settings
    cpus = 8
    memory = '16GB'
}