executor.name = "slurm"
executor.job_name = {"job_name_$task.name"}

process {
    //options to provide for all processes submitted as cluster jobs (e.g. "--account xx")
    clusterOptions = ""

    //resource requirements for processes
    //TODO: set up memory/cpu baselines
    cpus = 8
    memory = '16GB'
}