params {
    outDir = "."
    inputContigs = null
    taxKingdom = null
    annotateProgram = "prokka" //default
    projName = "default"
    cpus = 8
    customProtein = "nf_assets/NO_FILE" //setup for optional file pattern
    customHMM = "nf_assets/NO_FILE2"
    sourceGBK = null
    evalue = null
    gcode = null
    keggView = true

}

workflow.onComplete = {
    "rm -rf nf_assets".execute().text
}

workflow.onError = {
    "rm -rf nf_assets".execute().text
}
