params {
    input = null //either contig file or gbk from annotation
    projName = "Project"
    outDir = "."
    numCPU=8
    database = null
    //defaults
    taxon = 'bacteria'
    clusterblast = false
    subclusterblast = true
    knownclusterblast = true
    mibig = false
    smcogs = false
    pfam2go = false
    asf = true
    rre = true
    fullhmm = false
    tigrfam = false
    cassis = false //only with fungi
}