params {
    input = null //either contig file or gbk from annotation
    projName = "Project"
    outDir = "."
    numCPU=8
    database = null
    //defaults
    antismash-taxon = 'bacteria'
    antismash-clusterblast = false
    antismash-subclusterblast = true
    antismash-knownclusterblast = true
    antismash-mibig = false
    antismash-smcogs = false
    antismash-pfam2go = false
    antismash-asf = true
    antismash-rre = true
    antismash-fullhmm = false
    antismash-tigrfam = false
    antismash-cassis = false //only with fungi
}